<div class="wrapper">
  <form [formGroup]="f" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input
        type="text"
        matInput
        formControlName="firstName"
        name="firstName"
        placeholder="Ex. Jimmy"
        required
      />
      <mat-error *ngIf="firstName.touched && !firstName.value">First Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input
        type="text"
        matInput
        formControlName="lastName"
        name="lastName"
        placeholder="Ex. Page"
        required
      />
      <mat-error *ngIf="lastName.touched && !lastName.value">Last Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        name="email"
        placeholder="Ex. jimmy.page@domain.com"
        required
      />
      <mat-error *ngIf="email.touched && !email.value">Email is required</mat-error>
      <mat-error *ngIf="email.hasError('email')">This is not a valid email format</mat-error>
      <mat-error *ngIf="email.hasError('shouldBeUnique')">This email already exists!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        name="password"
        required
      />
      <mat-error *ngIf="password.touched && !password.value">Password is required</mat-error>
      <mat-error *ngIf="password.hasError('minlength')">Password must be minimum {{ password.errors.minlength.requiredLength }} characters</mat-error>
    </mat-form-field>

    <button type="submit" [disabled]="!f.valid" mat-raised-button>
      Submit
    </button>

  </form>
</div>
